.hero {
    // .hero__wrapper

    &__wrapper {}

    // .hero__nav

    &__nav {
        display: flex;
        justify-content: center;
    }

    // .hero__nav--games

    &__nav--games {}

    // .hero__nav--skins

    &__nav--skins {}

    // .hero__bot-nested-list

    &__bot-nested-list {
        visibility: hidden;
    }

    &__bg-img {}
}