.hero-menu {
    &__high {
        width: 730px;
        height: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 16px;
        background-color: #0B1C28;
        /* Background color/color-layer-alt-1 */

        border-radius: 10px;
    }

    &__bot {
        width: 900px;
        height: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 16px;
        background: rgba(11, 28, 40, 0.9);
        border-radius: 8px;
        /* Background color/color-layer-alt-1 */
    }

    /* Auto layout */

    &__item {}

    // .hero-menu__item--top

    &__item--bot a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__item--bot a:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFB900;
    }

    &__item--high {}

    &__item--high a {
        width: 138px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0B1C28;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        text-transform: uppercase;
        color: #B6BDCC;
    }

    &__item--high a:hover {
        width: 138px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #414F68;
        color: #0DE5A0;
        border-radius: 8px;
    }

    // .hero-menu__submenu

    &__submenu {
        display: none;
    }

    &__item--bot:hover &__submenu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 14px 11px;
        gap: 13px;

        position: absolute;
        width: 110px;

        background: rgba(11, 28, 40, 0.82);
        border-radius: 8px;
    }

    // .hero-menu__item--sub

    &__item--sub a {
        padding: 0 11px;
    }

    &__item--sub a:hover {
        padding: 0 11px;
        background: rgba(217, 217, 217, 0.11);
    }
}