.main {

    // .main__section

    display: flex;
    justify-content: center;
    align-items: center;

    &__section {
        margin-top: 20px;
        width: 860px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .main__header

    &__header {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    // .main__grid

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #0B1C28;
        border-radius: 24px;
        padding: 10px;
    }
}